<!doctype html>
<html>
<head>
    <title>Edit Product - ECommerce</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

        <% include admin-header %>

    <div class="row">
            <!-- product FORM -->
            <form action="/admin/editProduct %>" method="post">
                <input id="id" name="id" type="hidden" value=<%= product[0]._id %>>
                <div class="form-group">
                    <label>name*</label>
                    <input type="text" class="form-control" name="name" value="<%= product[0].name %>">
                </div>
                <div class="form-group">
                    <label>price*</label>
                    <input type="number" class="form-control" name="price" value="<%= product[0].price %>">
                </div>
                <div class="form-group">
                    <label>specification</label>
                    <input type="text" class="form-control" name="specification" value="<%= product[0].specification %>">
                </div>
                <div class="form-group">
                    <label>discount</label>
                    <input type="number" class="form-control" name="discount" value="<%= product[0].discount %>">
                </div>
                <div class="form-group">
                    <label>tags</label>
                    <input type="text" class="form-control" name="tags" value="<%= product[0].tags %>">
                </div>
                <div class="form-group">
                    <label>Brand*</label>
                    <select name="category">
                        <% categoryMenu.forEach(function(row){ %>
                            <option value="<%= row._id %>"><%= row.brand %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label>stock*</label><br>
                    <input type="number" class="form-control" name="stock" value=<%= product[0].stock %>>
                </div>
                <div class="form-group">
                    <label>Picture URL</label>
                    <input type="text" class="form-control" name="picture" value=<%= product[0].picture %>>
                </div>
        
                <button type="submit" class="btn btn-warning btn-lg">Edit</button>
            </form>

    </div>
</div>
</body>
</html>